# outliers :

- outliers are data points that are very different from most of the values in a dataset.
- They can happen because of data entry mistakes, measurement errors, or rare real-world events.
- Sometimes outliers are useful (for example, in fraud detection), but often they canreduce model accuracy and give misleading results.
- That's why identifying and handlinng outliers is an important step in data preprocessing.

 # How to detect a Outliers :

In [ ]:
## They are two methods :
- 1. IQR Method
- 2. Z-Score Method

- IQR Method 
- TheInterquartile range (IQR) method focuses on the spread of the middle 50% of data . It Calculates the IQR as the difference between
the 75th and 25 th percentiles of the data and identifies outliers as those points that fall below 1.5 times the IQR above the 75 th percetile. 
This method is robust  to outliers and does not assume  normal distribution

## Steps to detect Outliers :
- Step 1 : Find Q1 ( 25th percentage ) and ( 75 th percentage )
- Step 2 : IQR = Q3 -Q1
- Step 3 : Find : 
              Lower Bound : Q1 -1.5 * IQR
              Upper Bound : Q3 + 1.5 * IQR

# Example : Dataset X = [ 1,2,3,4,5,6,7,8,20], Find Outliers using the IQR method.
- Q1 ( 25 th percentile ) : Median of first  half [1,2,3,4] =  Median of [2,3] = 2.5
- Q3 (75th percentile): Median of second half[6,7,8,20] = Median of [7,8] = 7.5
- IQR = Q3 Q1 = 7.5 2.5 =5
- Lower Bound: Q1 - 1.5 x IQR = 2.5 1.5 x 5 = 2.5-7.5 =-5
-  Upper Bound: Q3 + 1.5 x IQR = 7.5 + 1.5 x 5 = 7.5+7.5 = 15
- Therfore the Valid range is -5 to 15. 20 lies outside the range.

In [24]:
import pandas as pd

In [32]:
data = pd.DataFrame({
    "Study_Hours": [1,2,3,4,5,6,7,8,9,20]
                    })

In [34]:
data

   Study_Hours
0            1
1            2
2            3
3            4
4            5
5            6
6            7
7            8
8            9
9           20

In [36]:
data.describe()

       Study_Hours
count    10.000000
mean      6.500000
std       5.400617
min       1.000000
25%       3.250000
50%       5.500000
75%       7.750000
max      20.000000

# IQR Method

In [53]:
Q1 = data.quantile(0.25)
Q3 = data.quantile(0.75)

IQR = Q3-Q1

LB = Q1-1.5*IQR
UB = Q3+1.5*IQR

outliers = data[(data<(LB))|(data>(UB))]

In [55]:
outliers

   Study_Hours
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8          NaN
9         20.0

# method-2(Z-Score):

- Z-Score method is a statistical technique that detects outliers based on how far a data point is from the mean, measured in terms of standard deviations. It assumes the data follows a normal distribution.

- A point with a very high or low Z-score (typically |Z| > 3) is flagged as an outlier because it lies in the extreme tails of the distribution

# Formula :
 Z = ( x - mean )/  median